<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="finalProject.mapper.CommunityMapper">

  <!-- 게시글 번호 시퀀스 조회용 -->
  <sql id="commuNum">
    SELECT NVL(MAX(COMMU_NUM), 0) + 1 FROM COMMUNITY
  </sql>

  <!-- 글 등록 -->
  <insert id="insertCommunity" parameterType="finalProject.domain.CommunityDTO">
    INSERT INTO COMMUNITY (
      COMMU_NUM, BOARD_NUM, EMPLOYEE_NUM, MEMBER_NUM, COMPANY_NUM,
      COMMU_SUBJECT, COMMU_REGIST, COMMU_UPDATE,
      COMMU_CONTENTS, COMMU_IMAGE, COMMU_VIEWS, COMMU_GOOD,
      COMMU_STORE_NAME, COMMU_ORIGINAL_NAME, COMMU_IMAGE_ORIGINAL_NAME
    ) VALUES (
      COMMUNITY_SEQ.NEXTVAL,
      #{boardNum}, #{employeeNum, jdbcType=VARCHAR}, #{memberNum, jdbcType=VARCHAR}, #{companyNum, jdbcType=VARCHAR},
      #{commuSubject}, SYSDATE, SYSDATE,
      #{commuContents}, #{commuImageStoreName, jdbcType=VARCHAR}, 0, 0,
      #{commuStoreName, jdbcType=VARCHAR}, #{commuOriginalName, jdbcType=VARCHAR}, #{commuImageOriginalName, jdbcType=VARCHAR}
    )
  </insert>

  <!-- 글 수정 -->
  <update id="updateCommunity" parameterType="finalProject.domain.CommunityDTO">
    UPDATE COMMUNITY
    SET
      COMMU_SUBJECT = #{commuSubject},
      COMMU_CONTENTS = #{commuContents},
      COMMU_UPDATE = SYSDATE,
      COMMU_IMAGE = #{commuImageStoreName, jdbcType=VARCHAR},
      COMMU_IMAGE_ORIGINAL_NAME = #{commuImageOriginalName, jdbcType=VARCHAR},
      COMMU_STORE_NAME = #{commuStoreName, jdbcType=VARCHAR},
      COMMU_ORIGINAL_NAME = #{commuOriginalName, jdbcType=VARCHAR}
    WHERE COMMU_NUM = #{commuNum}
  </update>
  
  <!-- 리스트 -->
  <select id="selectAll" resultType="finalProject.domain.CommunityDTO">
    SELECT 
      COMMU_NUM, BOARD_NUM, EMPLOYEE_NUM, MEMBER_NUM, COMPANY_NUM,
      COMMU_SUBJECT, COMMU_REGIST, COMMU_UPDATE,
      COMMU_CONTENTS, COMMU_IMAGE, COMMU_VIEWS, COMMU_GOOD,
      COMMU_STORE_NAME, COMMU_ORIGINAL_NAME, COMMU_IMAGE_ORIGINAL_NAME
    FROM COMMUNITY
    ORDER BY COMMU_REGIST DESC
  </select>
  
  <!-- 글 삭제 -->
  <delete id="deleteCommunity" parameterType="int">
    DELETE FROM COMMUNITY
    WHERE COMMU_NUM = #{commuNum}
  </delete>

  <!-- 조회수 증가 -->
  <update id="updateViews" parameterType="int">
    UPDATE COMMUNITY
    SET COMMU_VIEWS = NVL(COMMU_VIEWS, 0) + 1
    WHERE COMMU_NUM = #{commuNum}
  </update>

  <!-- 좋아요 수 업데이트 -->
  <update id="updateCommunityLikeCount" parameterType="map">
    UPDATE COMMUNITY
    SET COMMU_GOOD = #{commuGood}
    WHERE COMMU_NUM = #{commuNum}
  </update>
  
<select id="selectByBoardNum" parameterType="int" resultType="finalProject.domain.CommunityDTO">
    SELECT 
      c.COMMU_NUM, c.BOARD_NUM, c.EMPLOYEE_NUM, c.MEMBER_NUM, c.COMPANY_NUM,
      c.COMMU_SUBJECT, c.COMMU_REGIST, c.COMMU_UPDATE,
      c.COMMU_CONTENTS, c.COMMU_IMAGE, c.COMMU_VIEWS, c.COMMU_GOOD,
      c.COMMU_STORE_NAME, c.COMMU_ORIGINAL_NAME, c.COMMU_IMAGE_ORIGINAL_NAME,
      m.MEMBER_NAME AS writerName
    FROM COMMUNITY c
    LEFT JOIN MEMBER m ON c.MEMBER_NUM = m.MEMBER_NUM
    WHERE c.BOARD_NUM = #{boardNum}
    ORDER BY c.COMMU_REGIST DESC
</select>

  
<select id="selectCommunityById" parameterType="int" resultType="finalProject.domain.CommunityDTO">
    SELECT 
        c.COMMU_NUM, c.BOARD_NUM, c.EMPLOYEE_NUM, c.MEMBER_NUM, c.COMPANY_NUM,
        c.COMMU_SUBJECT, c.COMMU_REGIST, c.COMMU_UPDATE,
        c.COMMU_CONTENTS, c.COMMU_IMAGE, c.COMMU_VIEWS, c.COMMU_GOOD,
        c.COMMU_STORE_NAME, c.COMMU_ORIGINAL_NAME, c.COMMU_IMAGE_ORIGINAL_NAME,
        m.MEMBER_NAME AS writerName
    FROM COMMUNITY c
    LEFT JOIN MEMBER m ON c.MEMBER_NUM = m.MEMBER_NUM
    WHERE c.COMMU_NUM = #{commuNum}
</select>

  <!-- 사용자가 좋아요를 눌렀는지 확인하는 쿼리 -->
  <select id="hasUserLiked" resultType="int" parameterType="map">
    SELECT COUNT(*)
    FROM COMMUNITY_LIKE
    WHERE target_type = #{targetType}
      AND target_id = #{targetId}
      AND member_num = #{memberNum}
  </select>

  <!-- 좋아요 등록 -->
  <insert id="insertLike" parameterType="map">
    INSERT INTO COMMUNITY_LIKE (target_type, target_id, member_num)
    VALUES (#{targetType}, #{targetId}, #{memberNum})
  </insert>

  <!-- 좋아요 취소 -->
  <delete id="deleteLike" parameterType="map">
    DELETE FROM COMMUNITY_LIKE
    WHERE target_type = #{targetType}
      AND target_id = #{targetId}
      AND member_num = #{memberNum}
  </delete>

  <!-- 좋아요 수 카운트 -->
  <select id="countLikes" resultType="int" parameterType="map">
    SELECT COUNT(*)
    FROM COMMUNITY_LIKE
    WHERE target_type = #{targetType}
      AND target_id = #{targetId}
  </select>
  <select id="selectTop5ByLikes" resultType="finalProject.domain.CommunityDTO">
	    SELECT
	        commu_num AS commuNum,
	        commu_subject AS commuSubject,
	        commu_regist AS commuRegist,
	        commu_good AS commuGood
	    FROM community
	    ORDER BY commu_good DESC
	    FETCH FIRST 5 ROWS ONLY
	</select>

  

</mapper>
