<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="finalProject.mapper.CommunityMapper">

  <!-- 게시글 번호 시퀀스 조회용 -->
  <sql id="commuNum">
    SELECT NVL(MAX(COMMU_NUM), 0) + 1 FROM COMMUNITY
  </sql>

  <insert id="insertCommunity" parameterType="commu">
    INSERT INTO COMMUNITY (
      COMMU_NUM, BOARD_NUM, EMPLOYEE_NUM, MEMBER_NUM, COMPANY_NUM,
      COMMU_SUBJECT, COMMU_REGIST, COMMU_UPDATE, COMMU_CONTENTS,
      COMMU_IMAGE_ORIGINAL_NAME, COMMU_IMAGE_STORE_NAME,
      COMMU_ORIGINAL_NAME, COMMU_STORE_NAME
    )
    VALUES (
      (<include refid="commuNum" />), 
      #{boardNum}, 
      #{employeeNum}, 
      #{memberNum}, 
      #{companyNum},
      #{commuSubject}, 
      SYSDATE, 
      SYSDATE, 
      #{commuContents},
      #{commuImageOriginalName}, 
      #{commuImageStoreName},
      #{commuOriginalName}, 
      #{commuStoreName}
    )
  </insert>

</mapper>
