<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="finalProject.mapper.MemberMapper">

  <!-- 회원 등록 -->
  <insert id="insertMember" parameterType="finalProject.domain.MemberDTO">
    INSERT INTO member (
      MEMBER_NUM, MEMBER_ID, MEMBER_PW, MEMBER_NAME,
      MEMBER_PHONE, MEMBER_EMAIL, MEMBER_BIRTH, MEMBER_GENDER,
      MEMBER_ADDR, MEMBER_DETAIL_ADDR, MEMBER_POST, MEMBER_IMG
    ) VALUES (
      #{memberNum}, #{memberId}, #{memberPw}, #{memberName},
      #{memberPhone}, #{memberEmail}, #{memberBirth}, #{memberGender},
      #{memberAddr}, #{memberDetailAddr}, #{memberPost},
      #{memberImg, jdbcType=VARCHAR}
    )
  </insert>

  <!-- 회원 정보 수정 (추가된 부분) -->
	<update id="updateMember" parameterType="finalProject.domain.MemberDTO">
	  UPDATE member
	  SET
	    <if test="memberPw != null and memberPw != ''">
	      MEMBER_PW = #{memberPw},
	    </if>
	    MEMBER_NAME = #{memberName},
	    MEMBER_PHONE = #{memberPhone},
	    MEMBER_EMAIL = #{memberEmail},
	    MEMBER_BIRTH = #{memberBirth},
	    MEMBER_GENDER = #{memberGender},
	    MEMBER_ADDR = #{memberAddr},
	    MEMBER_DETAIL_ADDR = #{memberDetailAddr},
	    MEMBER_POST = #{memberPost},
	    MEMBER_IMG = #{memberImg, jdbcType=VARCHAR}
	  WHERE MEMBER_NUM = #{memberNum}
	</update>

  <!-- 번호자동부여 -->
  <select id="memberNumAutoSelect" resultType="String">
    SELECT CONCAT('mem_', NVL(SUBSTR(MAX(MEMBER_NUM), 5), '100000') + 1) FROM member
  </select>

  <!-- 상세보기 -->
  <select id="memSelectOne" parameterType="String" resultType="finalProject.domain.MemberDTO">
    SELECT MEMBER_NUM, MEMBER_ID, MEMBER_NAME, MEMBER_PHONE, MEMBER_EMAIL,
           MEMBER_BIRTH, MEMBER_GENDER, MEMBER_ADDR, MEMBER_DETAIL_ADDR,
           MEMBER_POST, MEMBER_IMG
    FROM MEMBER
    WHERE MEMBER_NUM = #{memberNum}
  </select>

  <select id="selectByMemberNum" resultType="finalProject.domain.MemberDTO">
    SELECT * FROM MEMBER WHERE MEMBER_NUM = #{memberNum}
  </select>
  
	  <!-- 추가한곳 -->
	<update id="updateAccountNumber" parameterType="finalProject.domain.MemberDTO">
	    UPDATE member
	    SET account_number = #{accountNumber}
	    WHERE member_num = #{memberNum}
	</update>

</mapper>
