<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="finalProject.mapper.MemberMapper">
  <insert id="insertMember" parameterType="finalProject.domain.MemberDTO">
    INSERT INTO member (
      MEMBER_NUM, MEMBER_ID, MEMBER_PW, MEMBER_NAME,
      MEMBER_PHONE, MEMBER_EMAIL, MEMBER_BIRTH, MEMBER_GENDER,
      MEMBER_ADDR, MEMBER_DETAIL_ADDR, MEMBER_POST, MEMBER_IMG
    )
    VALUES (
      #{memberNum}, #{memberId}, #{memberPw}, #{memberName},
      #{memberPhone}, #{memberEmail}, #{memberBirth}, #{memberGender},
      #{memberAddr}, #{memberDetailAddr}, #{memberPost}, #{memberImg}
    )
  </insert>
  
   <!-- 번호자동부여 -->
    <select id="memberNumAutoSelect" resultType="String">
    	SELECT CONCAT('mem_', NVL(SUBSTR(MAX(MEMBER_NUM), 5), '100000') + 1) FROM member
	</select>
	
	<!-- 상세보기 -->
	<select id="memSelectOne" parameterType="String" resultType="finalProject.domain.MemberDTO">
    SELECT MEMBER_NUM, MEMBER_ID, MEMBER_NAME, MEMBER_PHONE, MEMBER_EMAIL,
           MEMBER_BIRTH, MEMBER_GENDER, MEMBER_ADDR, MEMBER_DETAIL_ADDR,
           MEMBER_POST, MEMBER_IMG
    FROM MEMBER
    WHERE MEMBER_NUM = #{memberNum}
</select>

</mapper>
